@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --bs-primary: #09A7BF;
    --bs-primary-hover: #029AB1;
    --bs-secondary: rgba(2, 154, 177, 0.2);
}

body{
    font-family: "Poppins", serif;
    background-color: #F8F8F8;
}

.h-screen{
    height: 100vh;
}
.min-h-screen{
    min-height: 100vh;
}
.opacity-20{
    opacity: 0.5!important;
}
.opacity-50{
    opacity: 0.5!important;
}
.opacity-70{
    opacity: 0.7!important;
}

.bg-gradient-primary{
    background: linear-gradient(to top, rgba(9, 167, 191, 0.200), rgba(9, 167, 191, 0));
}

/* custom */
.navbar{
    z-index: 99;
}

.nav-link:hover{
    color: var(--bs-primary-hover)!important;
}
.text-primary{
    color: var(--bs-primary)!important;
}
.btn.btn-primary{
    background-color: var(--bs-primary)!important;
    border-color: var(--bs-primary)!important;
}
.btn.btn-primary:hover{
    background-color: var(--bs-primary-hover)!important;
    border-color: var(--bs-primary-hover)!important;
}
.btn.btn-secondary{
    background-color: var(--bs-secondary)!important;
    border: none!important;
    color: var(--bs-primary-hover);
}
.btn.btn-secondary:hover{
    background-color: var(--bs-primary-hover)!important;
    color: white
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: var(--bs-primary);
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link:hover{
    color: white!important;
}

.nav-link[role="tab"]{
    color: var(--bs-primary);
    border: 1px solid var(--bs-primary)!important;
}

.accordion-button:not(.collapsed){
    color: var(--bs-primary);
}

.accordion-button {
    background: transparent;
  }

  /* Swiper JS */
  .swiper {
    width: 600px;
    height: 300px;
  }
  .swiper-pagination-bullet-active{
    background: var(--bs-primary)!important;
  }